#swiper-collect {
  background-color: #f8f8f9;
  margin-top: 130px;
  padding: 100px 0;

  span {
    &:nth-child(1) {
      font-size: 35px;
      font-weight: 600;
    }

    &:nth-child(2) {
      font-weight: 600;
      font-size: 35px;
      color: rgb(34, 155, 34);
      margin-left: 10px;
    }
  }

  .swiper-button-next {
    color: grey;
    right: 10px;
    top: 27px;
    &:after {
      font-size: 18px;
    }
  }
  .swiper-button-prev {
    color: grey;
    left: 1173px;
    top: 27px;

    &:after {
      font-size: 18px;
    }
  }

  .swiper-pagination {
    display: none;
  }
  .img {
    margin-top: 70px;
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 410px;
    border-radius: 15px;
    overflow: hidden;

    #img-bright {
      transition: 0.2s ease-in-out;
      filter: brightness(0.9);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img-inner-title {
      position: absolute;
      bottom: 120px;
      margin-left: 15px;
      font-weight: 500;

      .info-person {
        display: flex;
        gap: 5px;
        align-items: center;

        img {
          border-radius: 14px;
          width: 28px;
          height: 28px;
          object-fit: cover;
          border: 2px solid white;
        }

        span {
          font-size: 11px;
          margin: 0;
          color: white;
        }
      }

      span {
        margin: 0;
        font-size: 30px;
        color: white !important;
      }
    }

    .img-inner {
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      img {
        width: 111px;
        height: 80px;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    &:hover #img-bright {
      filter: brightness(0.7);
    }
  }
}
